<script>
    $(document).ready(function(){
        $.get(`http://ip-api.com/json/#<%=remote_ip%>`, function(res){
            $('#container2').append(
                `<p>${res.city}</p>`
            );
        }, 'json');
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        });
    });

</script>
<style>
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
</style>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <script>
        alert(user_info.city);
    </script>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hitchr!</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" action="/sessions/create" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control" name="email">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container" id="container2">
    <h2>The available trips in your area:</h2>
    <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Leave From</th>
                <th>Destination</th>
                <th>Leave On</th>
                <th>$$ Per Rider</th>
                <th>Seats Available</th>
                <th>Vehicle</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Washington, DC</td>
                <td>New York, NY</td>
                <td>04/01/2017</td>
                <td>$25</td>
                <td>3 of 4</td>
                <td>2017 BMW M8</td>
                <td><button type="button" class="btn btn-sm btn-success">Join!</button></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
      <iframe
          width="1000"
          height="450"
          frameborder="0" style="border:1"
          src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCGkc4zfM8yunEOefOTtYk2C8HN9QYuu7w&origin=White+House,Washington,DC&destination=Time+Square,New+York,NY" allowfullscreen>
      </iframe>
      <br />
      <br />
  <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Leave From</th>
              <th>Destination</th>
              <th>Leave On</th>
              <th>$$ Per Rider</th>
              <th>Seats Available</th>
              <th>Vehicle</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2</td>
              <td>Lorton, VA</td>
              <td>San Francisco, CA</td>
              <td>04/05/2017</td>
              <td>$100</td>
              <td>2 of 4</td>
              <td>2016 Mercedes S63</td>
              <td><button type="button" class="btn btn-sm btn-success">Join!</button></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
    <iframe
        width="1000"
        height="450"
        frameborder="0" style="border:1"
        src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCGkc4zfM8yunEOefOTtYk2C8HN9QYuu7w&origin=Lorton,VA&destination=San+Francisco,CA" allowfullscreen>
    </iframe>
</div>
</div>

<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url('https://www.aviary.com/img/photo-landscape.jpg&text=Slide One');"></div>
            <div class="carousel-caption">
                <h2>Caption 1</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('https://www.aviary.com/img/photo-landscape.jpg&text=Slide Two');"></div>
            <div class="carousel-caption">
                <h2>Caption 2</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
            <div class="carousel-caption">
                <h2>Caption 3</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>

  <hr>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">&copy; 2017 NA-JZ, Inc.</p>
    </div>
  </footer>
<!-- </div>  -->
<!-- /container -->
