<!DOCTYPE html>
<html>
  <head>
    <title>Hitchr</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="app/assets/stylesheets/bootstrap.min.css" >
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="app/assets/javascripts/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="app/assets/javascripts/bootstrap.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
